@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Anton);
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: Lato, Helvetica Neue, sans-serif;
    background-color: #f4f4f7
}

h1 {
    font-family: Anton, sans-serif
}

a.link-unstyled {
    color: inherit
}

a.link-unstyled:hover {
    color: inherit;
    text-decoration: none
}

.btn {
    padding: .375rem 2rem
}

.btn.btn-primary, .btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled):hover {
    color: #fff;
    background-color: #7dcd40;
    border-color: #7dcd40
}

.btn.btn-primary:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba(125, 205, 64, .5)
}

.btn.btn-danger, .btn.btn-danger:not(:disabled):not(.disabled):active, .btn.btn-danger:not(:disabled):not(.disabled):hover {
    color: #fff;
    background-color: #cd4040;
    border-color: #cd4040
}

.btn.btn-danger:not(:disabled):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba(255, 64, 64, .5)
}

.Navbar {
    width: 100%;
    padding: .5rem 0;
    background-color: #1c3643
}

.Navbar__brand {
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.Navbar__brand:hover {
    color: #fff;
    text-decoration: none
}

.Navbar__brand-logo {
    margin-right: .5rem
}

.Badge {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px
}

.Badge__header {
    padding: .5rem 0;
    height: 80px;
    background: #1b1b25;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.Badge__section-name {
    padding: 1rem 0
}

.Badge__section-info, .Badge__section-name {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Badge__section-info {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: .5rem 0;
    background: #f4f4f7
}

.Badge_avatar {
    margin-right: 1rem;
    width: 120px;
    height: 120px
}

.Badge__footer {
    height: 54px;
    color: #98ca3f;
    font-weight: 700;
    font-style: italic
}

.Badge__footer, .PageLoading {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.PageLoading {
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    -webkit-animation: lds-grid 1.2s linear infinite;
    animation: lds-grid 1.2s linear infinite
}

.lds-grid div:first-child {
    top: 6px;
    left: 6px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s
}

@-webkit-keyframes lds-grid {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: .5
    }
}

@keyframes lds-grid {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: .5
    }
}

.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.BadgeNew__hero-image {
    max-height: 100px
}

.Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem
}

.Badges__hero>.Badges__container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem
}

.Badges_conf-logo {
    margin-bottom: 2rem
}

.Badges__buttons {
    margin-bottom: 1rem;
    margin-left: 25rem
}

.Badges__buttons, .Badges__section-name {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.Badges__section-name {
    -webkit-align-items: center;
    align-items: center;
    padding: 1rem 0
}

.Badges_avatar {
    margin-right: 1rem;
    width: 90px;
    height: 90px;
    padding: 12px
}

.Badges__section__name {
    font-size: 13px;
    margin: 0
}

.Badges__section__jobTitle {
    font-size: 13px;
    margin-bottom: 1%
}

.Badges__section__twitter {
    font-size: 13px;
    color: #1c9fe9
}

.Badges__section_textTwitter {
    vertical-align: middle
}

.icon__twitter {
    width: 32px;
    height: 32px
}

.Badges__section-info {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.Badges__header, .Badges__section-info {
    display: -webkit-flex;
    display: flex;
    padding: .5rem 0;
    background: #fff
}

.Badges__header {
    height: 80px;
    -webkit-justify-content: left;
    justify-content: left;
    margin-bottom: 1%
}

.NotFoundData {
    text-align: center;
    margin-top: 15%
}

.PageError {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 100vh;
    width: 100%
}

.Loader__background {
    margin-left: 29%
}

.BadgeEdit__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.BadgeEdit__hero-image {
    max-height: 100px
}

.masEspacio {
    margin-bottom: 1%
}

.BadgeDetails__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color: #fff
}

.BadgeDetails__hero-attendant-name {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.BadgeDetails__buttons {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 1rem
}

.BadgeDetails__buttons, .Modal {
    display: -webkit-flex;
    display: flex
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.Modal__container {
    position: relative;
    top: 10rem;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    width: 400px
}

.Modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #f5f5f5;
    padding: .5rem 1rem
}

.NotFound {
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    width: 100%;
    height: 601px
}

.NotFound__container {
    height: 100%;
    margin: 0
}

.NotFound__title {
    text-align: center;
    color: #fff;
    margin-top: 1%;
    margin-left: 4%
}

.NotFound__image {
    width: 277px;
    height: 277px;
    background: url('/static/media/img404.b6f6b911.png');
    background-repeat: round;
    margin-left: 40%;
    margin-top: 12%
}

.home__astronauts {
    background-repeat: repeat;
    width: 91%;
    height: 413px;
    margin-top: 10%;
    margin-left: 10%
}

.home__confLogo {
    width: 100%;
    margin-top: 40%;
    margin-left: 18%;
    height: 196px;
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.home {
    background: url('/static/media/stars.1d17360a.svg'), #1b1b25;
    background-repeat: repeat;
    width: 100%;
    height: 601px
}

.home__title {
    font-size: 26px;
    margin-top: 0
}

.home__content, .home__title {
    color: #fff;
    font-weight: 700;
    margin-left: 36%
}

.home__content {
    font-size: 16px
}

.home__button {
    margin-left: 47%;
    box-shadow: 0 4px rgba(125, 205, 64, .67);
    width: 39%
}

/*# sourceMappingURL=main.0e640370.chunk.css.map */